<%- include("../partials/header") %>

<form action="/usuarios" method="POST">
    <label>Nombre: </label>
    <input type="text" placeholder="Nombre" name="nombre"><br><br>
    <label>Password: </label>
    <input type="password" placeholder="password" name="password"><br><br>
    <button>Enviar</button>
</form>
<%- include("../partials/footer") %>