<%- include("../partials/header") %>

<form action="/usuarios" method="POST">
    <label>Nombre: </label>
    <input type="text" placeholder="Nombre" name="nombre"><br><br>
    <label>Apellido: </label>
    <input type="text" placeholder="Apellido" name="apellido"><br><br>
    <button>Enviar</button>
</form>
<%- include("../partials/footer") %>